<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Card HTML + CSS</title>
    <link rel="stylesheet" href="styles.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&display=swap"
      rel="stylesheet"
    />

    <style>
      body { 
        font-family: "Poppins", sans-serif; 
        background-color: #fafafa; 
      }
      .row { 
        display: flex; 
        justify-content: center; 
        align-items: center; 
      }
      .card { 
        border-radius: 5px; 
        box-shadow: 7px 7px 13px 0px rgba(50, 50, 50,0.22); 
        padding: 30px; 
        margin: 20px; 
        width: 400px; 
        transition: all 0.3sease-out; 
      } 
      .card p { 
        color: #a3a5ae; 
        font-size: 16px; 
      } 
      .card a {
        text-decoration: none;
        background-color: #6E1DBE;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 5px;
        font-size: 16px;
      }
      .green {
        border-left: 3px solid #6E1DBE; 
      }
    </style>
  </head>
  <body>
    <div class="row">
      <div class="card green">
        <h2>Carplit</h2>
        <p>Foi feita uma solicitação de troca de senha para esse email</p>
        <p>Clique no link abaixo para ser redirecionado para retornar ao aplicativo e atualizar a senha</p>
        <a href="#">Confirmar</a>
      </div>
    </div>
  </body>
</html>